
a{
    position: fixed;
    top: 950px;
    right: 45%;
    text-align: center;

    color: #000;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

a:hover{
    color:rgb(165, 135, 135);
}

a:active{
    color: rgb(53, 44, 44);
}